/* import font Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
    --red-bg: #ffdfe0;
    --red-color: #ff4b4c;
    --red-border: #e92b2b;
    --green-bg: #d7ffb8;
    --green-border: #58a700;
    --green-color: #57cc02;
    --blue-bg: #ddf3fe;
    --blue-color: #84d7ff;
    --blue-text: #1cb0f6;
    --grey: #e5e5e5;
    --grey-text: #afafaf;
    --text-color: #4b4b4b;
    --white: #fffffd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: var(--white);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color);
    user-select: none;
}

.container {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    position: relative;
}

.avata {
    width: 45%;
    border-radius: 50%;
}

.title-screen {
    margin: 20px 0;
    text-transform: uppercase;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.close-icon {
    font-size: 25px;
    color: #afafaf;
    font-weight: bold;
    cursor: pointer;
}

.progress-bar {
    width: 100%;
    height: 18px;
    background-color: #e5e5e5;
    margin-left: 20px;
    border-radius: 20px;
}

.progress-bar .completed {
    width: 0%;
    height: 100%;
    background-color: var(--green-color);
    border-radius: 20px;
}

#question {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    border: 3px solid var(--grey);
    color: var(--text-color);
}

#question h1 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 8px;
}

#question p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

#question p strong {
    color: #000;
    font-size: 21px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answer {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.card {
    border-radius: 15px;
    cursor: pointer;
    height: 120px;
    padding: 16px;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 3px 3px 6px;
    border-color: var(--grey);
    transition: all 0.1s ease-in-out;
}

.card.active {
    border-width: 3px;
    transition: all 0.1s ease-in-out;
}

.card-text {
    width: 100%;
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
}

.card.selected {
    background-color: var(--blue-bg);
    color: var(--blue-bg);
    border-color: var(--blue-color);
    transition: all 0.1s ease-in-out;
}

.card.selected > .card-text {
    color: var(--blue-text);
    font-weight: bold;
}

button {
    width: 100%;
    background-color: var(--green-color);
    color: var(--white);
    padding: 16px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    border-style: solid;
    border-width: 0 0 6px;
    border-color: var(--green-border);
    transition: all 0.1s ease-in-out;
}

button.active {
    border-width: 0;
    transition: all 0.1s ease-in-out;
}

button.disabled {
    pointer-events: none;
    border-width: 0;
    background-color: var(--grey) !important;
    color: var(--grey-text) !important;
    border-color: var(--grey) !important;
}

button:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#submit-button {
    position: absolute;
    left: 20px;
    bottom: 30px;
    right: 20px;
    width: calc(100% - 40px);
}

#result-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#result-modal {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
}

#result-icon {
    font-size: 24px;
    margin-right: 10px;
}

#result-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#result-message {
    font-size: 18px;
}

#result-modal button {
    margin-top: 20px;
}

#result-modal.correct,
#result-modal.wrong {
    animation-name: slide-up;
    animation-duration: 0.2s;
}

/* Correct answer */
#result-modal.correct {
    background-color: var(--green-bg);
}

#result-modal.correct #result-text,
#result-modal.correct #result-message,
#result-modal.correct #result-icon {
    color: var(--green-border);
}

#result-modal.correct button {
    background-color: var(--green-color);
    border-color: var(--green-border);
}

/* Wrong answer */
#result-modal.wrong {
    background-color: var(--red-bg);
}

#result-modal.wrong #result-text,
#result-modal.wrong #result-message,
#result-modal.wrong #result-icon {
    color: var(--red-border);
}

#result-modal.wrong button {
    background-color: var(--red-color);
    border-color: var(--red-border);
}

/* animation result */
@keyframes slide-up {
    0% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(-20%);
    }
    80% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0);
    }
}

/* load */
.load-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #fff;
}

.load {
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);

    color: white;
}

.load .bi-loader {
    width: 100%;
    height: 80%;
}

.load .bi-loader i {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.9);
}

.load .load-text {
    font-size: 25px;
}

/* icon quay */
@keyframes spin {
    0% {
        transform: rotate(90deg);
        animation-timing-function: ease-in-out;
    }
    70% {
        transform: rotate(135deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotate(450deg);
        animation-timing-function: ease-in-out;
    }
}
.load .bi-loader i.bi-arrow-repeat::before {
    animation: spin 1s linear infinite;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 400px) {
    .card,
    button,
    .close-icon {
        cursor: default;
    }
}
